<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012484846268-q5gnk8qb19cb9tp2ebaaj5ukuc1r9c0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012484846268-q5gnk8qb19cb9tp2ebaaj5ukuc1r9c0s</string>
	<key>API_KEY</key>
	<string>AIzaSyBHTF7W1uZcEGOrQ4kcBs6rCsmIV5C1PIw</string>
	<key>GCM_SENDER_ID</key>
	<string>1012484846268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEcommerceRiverpodFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-riverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-riverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012484846268:ios:1d5b3c10793e3acce2d6b9</string>
</dict>
</plist>